* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: TaldaSans-Light;
}
:root {
  --orange-dark: #d4774f;
  --orange: #fc0d0d;
  --gray-dark: #696969;
  --gray: #bebebe;
}
/* @font-face {
  font-family: TaldaSans-black;
  src: url("../font/TildaSans-Black.ttf");
} */
@font-face {
  font-family: TaldaSans-Bold;
  src: url("../font/TildaSans-Bold.ttf");
}

@font-face {
  font-family: TaldaSans-Regular;
  src: url("../font/TildaSans-Regular.ttf");
}
@font-face {
  font-family: TaldaSans-Light;
  src: url("../font/TildaSans-Light.ttf");
}

p{
  margin-bottom: 0;
}
.header__logo img {
  max-height: 140px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu-toggle {
  display: none;
}

.menu-icon,
.close-icon {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.header__navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__navigation li {
  margin-right: 20px;
}

.header__navigation li:last-child {
  margin-right: 0;
}

.header__navigation a {
  color: black;
  text-decoration: none;
  transition: color linear .1s;
}

.header__navigation a:hover {
  color: var(--orange-dark);
}

.menu-toggle:checked ~ .header__navigation {
  left: 0;
}

.menu-toggle:checked ~ .close-icon {
  display: inline-block;
}

.banner {
  min-height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banner-image.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.banner {
  color: #fff;
}

.banner h1 {
  font-size: 2.3rem;
  font-family: TaldaSans-Bold;
  margin-top: 10vh;
  margin-bottom: 0;
}
.text-primary {
  color: var(--orange) !important;
}





.about{
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  padding: 14vh 0;
}
.about .main_text{
  font-size: 24px;
  font-family: TaldaSans-Bold;
  color: var(--gray-dark);
  font-style: italic;
  font-weight: 600;
}
.about .about_caption{
  color: var(--gray);
}
.about_caption > p{
  font-size: 18px;
}


.why_us{
  background-color: #f2f2f2;
  padding: 7vh 0;
}
.why_us .card{
  border: none;
  overflow: hidden;
}
.why_us .card .card_hover{
  /* left: -100%; */
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5));
  transition: all linear 0.3s;
  padding: 2vw;
}
.why_us .card:hover .card_hover{
  left: 0;
}
.why_us .card{
  min-height: 340px;
  max-height: 400px;
  height: 100%;
  max-width: 400px;
  margin: auto;
}
.why_us .card img{
  width: auto;
  height: 100%;
  object-fit: cover;
}
.why_us .card .card_hover h4{
  font-size: 20px;
}



.strategies{
  padding: 7vh 0;
}
.strategies .card{
  padding: 2vw;
  border: none;
}
.strategies p{
  text-indent: 15px;
}


.strategies h3 , .why_us h3 , .footer h3{
  font-family: TaldaSans-Bold;
}



.footer{
  background-color: #f2f2f2;
  padding: 7vh 0;
}
.footer form > input , .footer form textarea{
  width: 100%;
  border-radius: 5px;
}
.footer form textarea{
  min-height: 200px;
}


input , textarea{
  outline: none;
}




























.btn-outline-primary , .btn-outline-primary:hover{
  color: black;
  background-color: transparent;
  border: 2px solid var(--orange);
}
.btn-outline-primary:hover{
  transform: scale(1.02);
  transition: all linear 0.1s;
}

.btn-primary , .btn-primary:hover{
  color: white;
  background-color: var(--orange);
  border: none;
}
.btn-outline-primary:hover{
  transform: scale(1.02);
  transition: all linear 0.1s;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .header__navigation {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    max-width: 250px;
    width: 90%;
    background-color: white;
    padding: 50px 20px;
    transition: left 0.3s ease-in-out;
  }

  .header__navigation ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
  }

  .header__navigation ul li {
    margin-bottom: 22px;
  }

  .menu-toggle {
    display: none;
  }

  .menu-toggle:checked ~ .header__navigation {
    left: 0;
  }

  .menu-toggle:checked ~ .menu-icon {
    display: none;
  }

  .menu-icon {
    display: inline-block;
  }

  .close-icon {
    font-size: 36px;
    display: none;
  }

  .menu-toggle:checked ~ .close-icon {
    display: inline-block;
  }
}

@media (min-width: 400px) {
  .banner h1 {
    font-size: 60px !important;
  }
}

@media (min-width: 767px) {
  .banner h1 {
    font-size: 80px !important;
  }
  .banner p {
    font-size: 1.3rem;
  }
}
